/.env
/.env.*.local
/.idea
/.vscode
/.docker
/laravel-app/vendor
/laravel-app/node_modules
/laravel-app/public/hot
/laravel-app/storage/*.key
/fastapi-app/__pycache__
/fastapi-app/.pytest_cache
/fastapi-app/.venv
/fastapi-app/*.pyc
/frontend-app/node_modules
/frontend-app/dist
/frontend-app/.vite
*.log
.DS_Store
Thumbs.db
